<!doctype html>
<html class="no-js" lang="de">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% include meta.html %}
  {% include assets.html %}
  </head>
</head>

<body>
{% include page_header.html %}

<div class="container" style="margin-top: 10rem;">
  <div class="row">

    {% include page_sidebar.html %}
    {% include page_content.html %}
	    
  </div><!-- /.row -->
</div><!-- /.container -->

</body>
</html>


